.App {
  display: flex;
  flex-direction: row;
  place-content: center;
  min-height: 100vh;
  background-color: #202020;
}
@media (max-width: 767px) {
  .App {
    flex-wrap: wrap;
    padding-bottom: 75px;
  }
}
